/* Définition des polices du site */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('Open-Sans-Regular'),
  url('fonts/OpenSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('Open-Sans-Italic'),
  url('fonts/OpenSans-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('Open-Sans-Bold'),
  url('fonts/OpenSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('Open-Sans-Bold-Italic'),
  url('fonts/OpenSans-BoldItalic.woff') format('woff');
}


body {
	font-family : 'Open Sans',verdana,sans-serif;
	background-color: #EDEDED;
	font-size: 100%;
}

a img {
	border-style: none;
}

.conteneur {
  	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 120ex;
	margin-top: -5px;
	min-width: 620px;
}


/* partie accessibilité */
#prologue {
  font-size : smaller;
  margin-bottom: 0;
  margin-top: 0;
  color: #E0E0E0;
  min-height: 1.4em;
}
#prologue a{
  color: #D0D0D0;
}


/* entête et menu */
.banniere {
background-color: #FFFFFF;
min-height:155px;
min-width: 850px;
overflow: auto;
}

.banniere img{
display:block;
border-width: 0;
width:620px;
}
#adresse_banniere {
float: right;
text-align: center;
z-index: 1;
padding-right: 0.3em;
font-size: small;
color: #545454;
margin-bottom: 0;
}

#adresse_banniere a {
text-decoration: none;
color: #545454;
}

dt, dl, dd, ul, li {
list-style-type: none;
margin: 0;
padding: 0;
border: none;
}

/* menu du site */

.menuhaut {
position: relative;
width: 100%;
z-index: 1;
}

.menuhaut dl, .menuhaut li {
float: left;
width: 25%;
}

.menuhaut a {
padding-top: 0.2em;
padding-bottom: 0.2em;
display: block;
text-align: center;
font-weight: bold;
text-decoration: none;
color: white;
background: #2584C6;
background: -webkit-linear-gradient(#2D79AE, #2584C6);
background: -o-linear-gradient(#2D79AE, #2584C6);
background: -moz-linear-gradient(#2D79AE, #2584C6);
background: linear-gradient(#2D79AE, #2584C6);
-moz-transition: background 0.300s, color 0.300s;
-webkit-transition: background 0.300s, color 0.300s;
transition: background 0.300s, color 0.300s;
}

.menuhaut a:hover, a:focus{
	background: #EFF2F6;
	background: -webkit-linear-gradient(#EFF2F6, #E0E0E0);
	background: -o-linear-gradient(#EFF2F6, #E0E0E0);
	background: -moz-linear-gradient(#EFF2F6, #E0E0E0);
	background: linear-gradient(#EFF2F6, #E0E0E0);
	color: #003E6D;
}

/* le contenu du site*/

#contenu {
	position: relative;
	background-color: #FCFCFC;
	margin-top: 2.3em;
	border : 1px solid #DFE1E5;
	padding: 2%;
	width: 96%;
}

#contenu ul, #contenu li {
	list-style-type: disc;
	margin-left: 2em;
	padding-left: 0.5em;
}

#accesskeys li{
	list-style-type: none;
}

/* concerne toute les pages */
a.remonte {
  font-size: x-small;
}

hr {
clear: both;
visibility: hidden;
}

#copyright {
text-align: center;
padding-top: 1%;
margin-bottom: -1.1%;
border-top-width:1px;
border-top-style: solid;
border-top-color: #D2D2D2;
font-size: x-small;
}

#copyright a {
	text-decoration: none;
}


/* spécificité par page */
#plan, #map{
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


#logoiso {
float: right;
border-style: none;
}

#adresse,#itineraire {
text-align: center;
padding-bottom: 1.5em;
}


#clientele {
 display: block;
 float: right;
 margin-left: 5em;
 margin-right: 1em;
 margin-top: 1em;
}

#ARI {
 display: block;
 float: right;
 margin-left: 5em;
 margin-right: 1em;
}

#tofbouteilles {
  display: block;
	float: left;
	margin-right: 5em;
}

#compresseurs,#extincteurs {
	clear: both;
	padding-top: 1em;
}

/* partie mobile du site */

@media only screen and (max-width: 620px), only screen and (max-device-width: 620px) {
#prologue, #adresse_banniere,.banniere img  {
		display: none;
	}
	.conteneur {
		min-width: 300px;
	}
	.banniere {
		background-image: url(images/logomini.png);
		background-repeat: no-repeat;
		background-color: white;
		background-position: center center;
		background-size: contain;
		min-height: 100px;
		min-width: inherit;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.menuhaut {
		min-height: 9em;
		margin-top: 1%;
		background-color: #2584C6;
	}
	.menuhaut li {
		float: none;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1%;
		margin-top: 1%;		
	}
	.menuhaut a {
		padding-top: 0.7em;
		padding-bottom: 0.7em;
	}
	#map {
	min-width: 300px;
	}
}
