		<div class="banniere">
			<p id="prologue"><a href="acces.htm" accesskey="0" title="Politique d'accessibilité du site">Accessibilité</a> | <a href="#contenu" accesskey="S" title="Sauter la navigation et la recherche">Aller au contenu</a> | <a href="#menuhaut" title="Aller directement au menu de navigation">Aller au menu</a></p>
			<p id="adresse_banniere"><strong>Air Pur Industries</strong><br>
			10, rue Edouard Belin<br>
			25400 EXINCOURT<br>
			tel : +33 (0)3 81 95 52 24<br>
			fax : +33 (0)3 81 94 68 95<br>
			contact@airpur-industries.com</p>
			<img src="images/logairpurcoulindex.png" alt="Air Pur Industries" title="Air Pur Industries" width="620" height="132">
		</div>
