		<div class="menuhaut" id="menu">
			<ul>
				<li>
					<a id="menuhaut" href="index.htm" accesskey="1">Accueil</a>
				</li>
				<li>
					<a id="activite1" href="activite.htm">Activités</a>
				</li>
				<li>
					<a id="activite2" href="entreprise.htm">L'entreprise</a>
				</li>
				<li>
					<a href="contact.htm">Contactez-nous</a>
				</li>
			</ul>
		</div>
