			<hr>
			<p id="copyright">Air Pur Industries 2004-2017. Tous droits réservés. <a href="mailto:contact@airpur-industries.com" accesskey="9">contact@airpur-industries.com</a><br>
			Ce site est valide <a href="https://validator.w3.org/check/referer">html5</a> et <a href="https://jigsaw.w3.org/css-validator/check/referer">CSS3</a><br></p>
